* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #2B323C;
}

.container {
	width: 80%;
	margin: 0 auto;
}

ul {
	list-style: none;
	li {
		display: inline-block;
    margin: 0 10px;
		a {
      text-decoration: none;
			color: white;
			&:hover {
        text-decoration: underline;
				color: greenyellow;
      }
    }
	}
}

img {
	width: 100%;
}

.btn {
	padding: 10px 20px;
	background: none;
	border-radius: 5px;
	color: red;
	border: 1px solid red;
}

.cards-wrapper{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}