* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	width: 80%;
	margin: 0 auto;

}

img {
	width: 100%;
}

.btn {
	padding: 10px 20px;
	background: none;
	border-radius: 5px;
	color: red;
	border: 1px solid red;
}